<h1>Hire A Photographer</h1>
<hr>
<% @users.each do |user| %>
  <% if user.photographer %>
    <div class="photographer-tile">
      <%= link_to user_path(user) do %>
        <h4><%= user.name %></h4>
        <% if user.images.any? %>
          <%= image_tag user.images.first.img_file(:default) %>
        <% else %>
          <%= image_tag 'camera.png', class:"index-camera" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
