<% if @postings %>
  <% @postings.each do |posting| %>
    <%= link_to posting_path(posting) do %>
      <h3><%= posting.title %></h3>
    <% end %>
    <h5>
      <%= link_to posting.user.name, user_path(posting.user) %>
      <%= posting.created_at.strftime("%b. %d %Y, %l:%M%P") %>
    </h5>
  <% end %>
<% end %>
