<h1>Hire A Photographer</h1>

<% if @photographers.any? %>
  <% @photographers.each do |photographer| %>
    <%= link_to photographer.name, photographer_path(photographer) %>
      (<% photographer.categories.each do |category| %>
        <%= link_to category.name, category_path(category) %>
      <% end %>)
      <br>
  <% end %>
<% else %>
  <p>no photographers yet</p>
<% end %>

<p><%= link_to "new photographer", new_photographer_path %></p>
