/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  font-family: 'Capriola', sans-serif;
}

#index-photo {
  img {
    width: 100%;
  }
}

#index-rightbar {
  padding-top: 15%;
  padding-bottom: 15%;
}

.photographer-tile {
  display: inline-block;
  margin-top: 0.5em;
  margin-left: 0.5em;
  h4 {
    display: none;
  }
  img {
    border: 2px solid grey;
    width: 350px;
  }
}

.photographer-tile:hover {
  opacity: 0.5;
  h4 {
    padding-left: 0.5em;
    color: black;
    display: inline;
    position: absolute;
  }
  a:hover {
    text-decoration: none;
  }
}

nav {
  padding-top: 5px;
  background-color: #c1cdcd;
  a {
    color: white;
  }
}

a {
  color: grey;
  &:hover {
    text-decoration: none;
    color: black;
  }
}

.navbar-header {
  font-size: 2em;
  :hover {
    text-decoration: none;
  }
}

#photographer-icon {
  color: grey;
}
