<h1>View by Category</h1>
<hr>
<% if @categories.any? %>
  <% @categories.each do |category| %>
    <h4><%= link_to category.name, category_path(category) %></h4>
  <% end %>
<% else %>
  <p>no categories yet</p>
<% end %>
