<h3><%= @category.name %></h3>

<% if @category.users.any? %>
  <ul>
    <% @category.users.each do |user| %>
      <li><%= link_to user.name, user_path(user) %></li>
    <% end %>
  </ul>
<% else %>
  <p>this category has no photographers yet</p>
<% end %>
