<div class="row">
  <div class="col-xs-9" id="index-photo">
    <%= image_tag "index-photo.jpg" %>
  </div>
  <div class="col-xs-3 pull-right" id="index-rightbar">
    <h1>viewfinder</h1>
    <h3>hire a photographer</h3>
    <hr>
    <p><%= link_to "photographers", users_path %></p>
    <p><%= link_to "categories", categories_path %></p>
    <p><%= link_to "postings", postings_path %></p>
  </div>
</div>
